* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 750px;
/*   min-height: 500px; */
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}


@media (max-width: 750px) {
  .App {
    width: 100vw;
  }
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
